@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-font: 'Roboto', sans-serif;

$primary-font-color: #FFFFFF;

$secondary-font-color: #bbb9c7;

$inactive-font-color: #747180;

$background-color: #1c1a24;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    color: $primary-font-color;
    font-family: $primary-font;
}