.filter-main-container {
  display: flex;
  flex-direction: column;
  min-width: 175px;
  min-width: 175px;
  gap: 20px;
}
.filter-main-container .upper-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0px;
}
.filter-main-container .upper-area .title {
  font-size: 20px;
}
.filter-main-container .upper-area .reset-filter-area {
  display: flex;
  justify-content: center;
}
.filter-main-container .upper-area .reset-filter-area:hover svg {
  transform: rotate(180deg);
}
.filter-main-container .upper-area .reset-filter-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
}
.filter-main-container .upper-area .reset-filter-area button svg {
  transition: transform 0.3s ease-in-out;
}
.filter-main-container .bottom-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-gutter: stable;
}
.filter-main-container .bottom-area::-webkit-scrollbar {
  background-color: #555261;
  border-radius: 5px;
  width: 5px;
}
.filter-main-container .bottom-area::-webkit-scrollbar-thumb {
  background-color: #C85CD1;
  border-radius: 5px;
}
.filter-main-container .bottom-area .delimiter {
  width: 100%;
  height: 0;
  margin: 0;
  border: 1px solid #555261;
}
.filter-main-container .bottom-area .filter-section {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.filter-main-container .bottom-area .filter-section .filter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.filter-main-container .bottom-area .filter-section .filter-header label {
  cursor: pointer;
  font-size: 16px;
}
.filter-main-container .bottom-area .filter-section .filter-header:hover svg {
  transform: rotate(180deg);
  color: #C85CD1;
}
.filter-main-container .bottom-area .filter-section .filter-header .expand-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-main-container .bottom-area .filter-section .filter-header .expand-icon svg {
  transition: transform 0.3s ease-in-out;
}
.filter-main-container .bottom-area .filter-section .filter-header .expand-icon.expanded svg {
  transform: rotate(180deg);
  color: #C85CD1;
}
.filter-main-container .bottom-area .filter-section .filter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-top: 0px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
}
.filter-main-container .bottom-area .filter-section .filter-content.expanded {
  max-height: 500px;
  opacity: 1;
  overflow: unset;
  margin-top: 10px;
}
.filter-main-container .bottom-area .filter-section .filter-content .slider-container {
  padding: 0px 10px;
}
.filter-main-container .bottom-area .filter-section .filter-content .input-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
}
.filter-main-container .bottom-area .filter-section .filter-content .input-container input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6px;
  border-radius: 0.25rem;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #403D4D;
}
.filter-main-container .bottom-area .filter-section .filter-content .input-container .divider {
  grid-column: 1fr;
  font-weight: 700;
}
.filter-main-container .bottom-area .filter-section .filter-content .float-exterior-checkboxes {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.filter-main-container .bottom-area .filter-section .filter-content .float-exterior-checkboxes .checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter-main-container .bottom-area .filter-section.category .category-checkboxes {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.filter-main-container .bottom-area .filter-section.category .category-checkboxes .checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.filter-main-container .bottom-area .filter-section.category .category-checkboxes .checkbox-container input {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */