.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0px 10px;
}
.navbar .navbar-left .logo {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.navbar .navbar-left .logo:hover {
  transform: scale(1.05);
}
.navbar .navbar-right {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 50px;
}
.navbar .navbar-right .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292733;
  position: relative;
  height: 100%;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
.navbar .navbar-right .container:hover {
  box-shadow: 0 0 10px rgba(200, 92, 209, 0.8), 0 0 15px rgba(200, 92, 209, 0.6), 0 0 20px rgba(200, 92, 209, 0.4);
}
.navbar .navbar-right .container:hover svg {
  color: #C85CD1;
}
.navbar .navbar-right .container:hover.balance svg {
  color: inherit;
}
.navbar .favorite,
.navbar .notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 15px;
  cursor: pointer;
}
.navbar .favorite .icon,
.navbar .notification .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  position: relative;
}
.navbar .favorite .icon svg,
.navbar .notification .icon svg {
  transition: color 0.5s ease-in-out;
}
.navbar .favorite .icon svg:hover,
.navbar .notification .icon svg:hover {
  color: #C85CD1;
}
.navbar .favorite .glowing::after,
.navbar .notification .glowing::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #C85CD1;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: 20%;
  transform: translateY(-50%);
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 10px rgba(200, 92, 209, 0.8);
  }
  50% {
    transform: translateY(-50%) scale(1.2);
    box-shadow: 0 0 30px rgba(200, 92, 209, 0.8);
  }
  100% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 10px rgba(200, 92, 209, 0.8);
  }
}
.navbar .favorite .menu,
.navbar .notification .menu {
  position: absolute;
  top: 60px;
  min-width: 300px;
  background-color: #292733;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 5px;
  z-index: 10;
  cursor: initial;
}
.navbar .favorite .menu .header,
.navbar .notification .menu .header {
  font-size: 24px;
  padding: 0px 5px;
}
.navbar .favorite .menu ul,
.navbar .notification .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.navbar .favorite .menu ul li,
.navbar .notification .menu ul li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.navbar .favorite .menu ul li .title,
.navbar .notification .menu ul li .title {
  font-size: 20px;
  flex: 25%;
}
.navbar .favorite .menu ul li .date,
.navbar .notification .menu ul li .date {
  font-size: 14px;
  flex: 25%;
  color: #555261;
}
.navbar .favorite .menu ul li .description,
.navbar .notification .menu ul li .description {
  flex: 50%;
  margin-top: 10px;
}
.navbar .favorite .menu ul li:hover,
.navbar .notification .menu ul li:hover {
  background-color: #1c1a24;
}
.navbar .balance a {
  display: flex;
  height: 100%;
  justify-content: center;
}
.navbar .balance .value {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  gap: 10px;
}
.navbar .balance .add-funds {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C85CD1;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 30px;
  cursor: pointer;
}
.navbar .balance .add-funds svg {
  transition: transform 0.2s ease-in-out;
}
.navbar .balance .add-funds:hover svg {
  transform: scale(1.1);
}
.navbar .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar .profile .avatar {
  height: 100%;
  max-width: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.navbar .profile .avatar img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out;
}
.navbar .profile .avatar img:hover {
  box-shadow: 0 0 10px rgba(200, 92, 209, 0.8), 0 0 15px rgba(200, 92, 209, 0.6), 0 0 20px rgba(200, 92, 209, 0.4);
}
.navbar .profile .menu {
  position: absolute;
  top: 85px;
  right: 20px;
  max-width: 200px;
  background-color: #292733;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
}
.navbar .profile .menu .user {
  text-align: center;
  padding: 8px 16px 0px 16px;
}
.navbar .profile .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar .profile .menu ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}
.navbar .profile .menu ul li a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}
.navbar .profile .menu ul li.exit {
  color: red;
}
.navbar .profile .menu ul li:hover {
  background-color: #C85CD1;
  color: #FFFFFF;
}/*# sourceMappingURL=styles.css.map */